---
layout: default
---
<head>
  <meta charset="utf-8">
  <title>{{ page.title }}</title>

  {% include edit_link.html %}

  {% include paper_google_scholar.html %}
        
  <meta name="viewport" content="width=device-width">

</head>

<div class="page-content" id="content">
  {% include paper_abstract.html %}

  <input type="text" name="Element To Be Copied" id="copy-me">CatDoc</input>
  <button id="copy-btn">Copy BibTeX</button><br/><br/>
  <textarea placeholder="paste here"></textarea>
  
  {% if site.comments %}
  {% include disqus_comment_code.html %}
  {% endif %}
</div>

<!-- copy widget -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="../js/copy_input.js"></script>
